@import url('https://use.typekit.net/xxl4ngd.css');

.font-normal {
    font-family: 'array-mono', serif;
    font-weight: 400;
    font-style: normal;
}

.font-italic {
    font-family: 'array-mono', serif;
    font-weight: 400;
    font-style: italic;
}

.font-bold {
    font-family: 'array-mono', serif;
    font-weight: 900;
    font-style: normal;
}

.font-bold-italic {
    font-family: 'array-mono', serif;
    font-weight: 900;
    font-style: italic;
}


@font-face {
  font-family: 'BasementGrotesque';
  src: url('/fonts/BasementGrotesque-Black_v1.202.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brr';
  src: url('/fonts/BRRR-Skrrt.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Brr';
  background-color: #ed346c;
  padding: 0;
}

h2, p {
  text-align: center;
  font-family: 'array-mono', serif;
  font-weight: 400;
  font-style: normal;
}

#header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

a {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  margin: 1rem;
}

a .active {
  color: #8056C4;
  font-family: 'Brr';
  text-transform: capitalize;
  font-size: 14px;
}

#home-link {
  font-family: 'Brr';
  text-decoration: underline;
  text-align: left;
  line-height: 35px;
  font-size: 14px;
}

#home-page {
  background-color: #ffffff31;
  backdrop-filter: blur(5px);
  border: 0.1rem solid #000000;
  border-radius: 0.5rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto;
}

#home-page-btns {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  gap: 1rem; 
}

#Overall{
  background-color: #ffffffc8;
  backdrop-filter: blur(10px);
  color: #8056C4;
  border: 0.1rem solid #8056C4;
}

#Marvel {
  background-color: #ffffffc8;
  backdrop-filter: blur(10px);
  color: #F0519E;
  border: 0.1rem solid #F0519E;
}

#Harry-Potter {
  background-color: #ffffffc8;
  backdrop-filter: blur(10px);
  color: #589BCF;
  border: 0.1rem solid #589BCF;
}

#Boku-No-Hero {
  background-color: #ffffffc8;
  backdrop-filter: blur(10px);
  color: #87D4A5;
  border: 0.1rem solid #87D4A5;
}

#Overall.active-button {
  background-color: #8056C4;
  backdrop-filter: blur(10px);
  color: #ffffffc8;
  border: 0.1rem solid #ffffffc8;
}

#Marvel.active-button {
  background-color: #F0519E;
  backdrop-filter: blur(10px);
  color: #ffffffc8;
  border: 0.1rem solid #ffffffc8;
}

#Harry-Potter.active-button {
  background-color: #589BCF;
  backdrop-filter: blur(10px);
  color: #ffffffc8;
  border: 0.1rem solid #ffffffc8;
}

#Boku-No-Hero.active-button {
  background-color: #87D4A5;
  backdrop-filter: blur(10px);
  color: #ffffffc8;
  border: 0.1rem solid #ffffffc8;
}

button {
  height: 2rem;
  margin: 0;
  padding: 0.1rem 1rem;
  font-family: 'Brr';
  text-align: center;
  font-size: 14px;
  border-radius: 5rem;
  background-color: #ffffffc8;
  backdrop-filter: blur(10px);
  color: #8056C4;
  border: 0.1rem solid #8056C4;
  cursor: pointer;
}

#show-info {
  padding: 0.8rem;
 border-radius: 5rem;
 margin-left: 2rem;
 display: flex;
 align-items: center;
}

#change-data {
  position: sticky;
  top: 0;
  background-color: #ffffffc8;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  z-index: 1;
}

#tags-visualization {
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: center;
  display: flex;
}


#banner-container-1 {
  border: 0.1rem solid #000000;
  backdrop-filter: blur(2px);
  margin-top: 5rem;
  margin-bottom: 20rem;
  height: 40px;
}

#banner-container-2 {
  border: 0.1rem solid #000000;
  backdrop-filter: blur(2px);
  margin-top: 20rem;
  height: 40px;
}

#tag-buttons {
  width: 90%;
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  justify-content: space-between;
}

#fandom-buttons {
  display: flex;
  gap: 0.5rem;
}

#btns-right {
  display: flex;
  flex-direction: row;
}

#toggle-relationship-container {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

#relationships-visualization {
  position: absolute;
  top: 5rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  background-color: #ffffff31;
  backdrop-filter: blur(5px);
  overflow-y: scroll;
  visibility: visible;
  border: 0.1rem solid #000000;
  border-radius: 0.5rem;
  font-family: 'Brr', sans-serif;
}

.switch {
  position: relative;
  display: inline-block;
  width: 12rem;
  height: 2rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8056C4;
  backdrop-filter: blur(10px);
  border-radius: 2rem;
  border: 0.1rem solid #8056C4;
  cursor: pointer;
  transition: 0.6s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.8rem;
  width: 1.8rem;
  margin: 0.1rem auto;
  margin-top: -0.1rem;
  margin-left: -0.1rem;
  background-color: rgb(255, 255, 255);
  border: 0.1rem solid #8056C4;
  border-radius: 50%;
  transition: 0.6s;
}

.slider-text {
  position: absolute;
  margin: 0.3rem;
  left: 0.5rem;
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 14px;
}

.romantic {
  text-align: right;
  margin: 0.3rem;
  right: 0.5rem;
}

.friendship {
  color: transparent;
}

input:checked + .slider {
  background-color: #ffffffc8;
  backdrop-filter: blur(10px);
  border-radius: 2rem;
  border: 0.1rem solid #8056C4;
}

input:checked + .slider:before {
  transform: translateX(10rem);
  background-color: #8056C4;
  margin-right: -0.1rem;
}

input:checked + .slider .romantic {
  color: transparent;
}

input:checked + .slider .friendship {
  color: #8056C4;
}

#popup-relationships{
  display: flex;
  flex-direction: row;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8056c463;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 2rem;
  padding-top: 0;
  border-radius: 0.5rem;
  width: 30rem;
}

.close {
  text-align: right;
  margin-top: -2rem;
  left: 0;
  font-size: 30px;
  cursor: pointer;
}
