@import url("https://use.typekit.net/xxl4ngd.css");

.font-normal {
  font-family: "array-mono", serif;
  font-weight: 400;
  font-style: normal;
}

.font-italic {
  font-family: "array-mono", serif;
  font-weight: 400;
  font-style: italic;
}

.font-bold {
  font-family: "array-mono", serif;
  font-weight: 900;
  font-style: normal;
}

.font-bold-italic {
  font-family: "array-mono", serif;
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "BasementGrotesque";
  src: url("/fonts/BasementGrotesque-Black_v1.202.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brr";
  src: url("/fonts/BRRR-Skrrt.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Calibri, sans-serif;
  background-color: #ed346c;
}

h2,
p {
  text-align: center;
  font-family: Calibri, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
}

a {
  font-family: Calibri, sans-serif;
  color: #000000;
  position: static;
  padding: 0.5rem;
  background: transparent;
  backdrop-filter: unset;
  text-transform: uppercase;
  font-size: 0.75rem;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

a.active {
  color: #ff0000;
  /* color: #8056c4; */
}
.active-button {
  background-color: #8056C4;
  color: white;
}

#home-link {
  font-family: Calibri, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 35px;
  font-size: 1rem;
  margin: 0;
}

#home-page {
  background-color: #ffffff31;
  backdrop-filter: blur(5px);
  border: 0.1rem solid #000000;
  border-radius: 0.5rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto;
}

#home-page-btns {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  gap: 1rem;
}

#Overall-relationships, #Overall-tags {
  background-color: #ffffffc8;
  backdrop-filter: blur(10px);
  color: #8056c4;
  border: 0.1rem solid #8056c4;
}

#Marvel-relationships, #Marvel-tags {
  background-color: #ffffffc8;
  backdrop-filter: blur(10px);
  color: #f0519e;
  border: 0.1rem solid #f0519e;
}

#Harry-Potter-relationships, #Harry-Potter-tags {
  background-color: #ffffffc8;
  backdrop-filter: blur(10px);
  color: #589bcf;
  border: 0.1rem solid #589bcf;
}

#Boku-No-Hero-relationships, #Boku-No-Hero-tags {
  background-color: #ffffffc8;
  backdrop-filter: blur(10px);
  color: #87d4a5;
  border: 0.1rem solid #87d4a5;
}

.active-button {
  background-color: #8056C4;
  color: white;
}

#Overall-relationships.active-button, #Overall-tags.active-button {
  background-color: #8056C4;
  backdrop-filter: blur(10px);
  color: #ffffffc8;
  border: 0.1rem solid #ffffffc8;
}

#Marvel-relationships.active-button, #Marvel-tags.active-button {
  background-color: #f0519e;
  backdrop-filter: blur(10px);
  color: #ffffffc8;
  border: 0.1rem solid #ffffffc8;
}

#Harry-Potter-relationships.active-button, #Harry-Potter-tags.active-button {
  background-color: #589bcf;
  backdrop-filter: blur(10px);
  color: #ffffffc8;
  border: 0.1rem solid #ffffffc8;
}

#Boku-No-Hero-relationships.active-button, #Boku-No-Hero-tags.active-button {
  background-color: #87d4a5;
  backdrop-filter: blur(10px);
  color: #ffffffc8;
  border: 0.1rem solid #ffffffc8;
}


button {
  height: 2rem;
  margin: 0;
  padding: 0.1rem 1rem;
  font-family: "Brr";
  text-align: center;
  font-size: 14px;
  border-radius: 5rem;
  background-color: #ffffffc8;
  backdrop-filter: blur(10px);
  color: #8056c4;
  border: 0.1rem solid #8056c4;
  cursor: pointer;
}

button:hover {
  background-color: #8056c4;
  backdrop-filter: blur(10px);
  color: #ffffffc8;
  border: 0.1rem solid #ffffffc8;
}

#show-info {
  padding: 0.8rem;
  border-radius: 5rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

#change-data {
  position: sticky;
  top: 0;
  background-color: #ffffffc8;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  z-index: 1;
}

#tags-visualization {
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: center;
  display: flex;
}

#banner-container-1 {
  border: 0.1rem solid #000000;
  backdrop-filter: blur(2px);
  margin-top: 5rem;
  margin-bottom: 20rem;
  height: 40px;
}

#banner-container-2 {
  border: 0.1rem solid #000000;
  backdrop-filter: blur(2px);
  margin-top: 20rem;
  height: 40px;
}

#tag-buttons {
  width: 90%;
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  justify-content: space-between;
}

#fandom-buttons {
  display: flex;
  gap: 0.5rem;
}

#btns-right {
  display: flex;
  flex-direction: row;
}

#toggle-relationship-container {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

#relationships-visualization {
  position: absolute;
  top: 5rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  background-color: #ffffff31;
  backdrop-filter: blur(10px);
  overflow-y: scroll;
  visibility: visible;
  border: 0.1rem solid #000000;
  border-radius: 0.5rem;
  font-family: "Brr", sans-serif;
}

.switch {
  position: relative;
  display: inline-block;
  width: 12rem;
  height: 2rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8056c4;
  backdrop-filter: blur(10px);
  border-radius: 2rem;
  border: 0.1rem solid #8056c4;
  cursor: pointer;
  transition: 0.6s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.8rem;
  width: 1.8rem;
  margin: 0.1rem auto;
  margin-top: -0.1rem;
  margin-left: -0.1rem;
  background-color: rgb(255, 255, 255);
  border: 0.1rem solid #8056c4;
  border-radius: 50%;
  transition: 0.6s;
}

.slider-text {
  position: absolute;
  margin: 0.3rem;
  left: 0.5rem;
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 14px;
}

.romantic {
  text-align: right;
  margin: 0.3rem;
  right: 0.5rem;
}

.friendship {
  color: transparent;
}

input:checked + .slider {
  background-color: #ffffffc8;
  backdrop-filter: blur(10px);
  border-radius: 2rem;
  border: 0.1rem solid #8056c4;
}

input:checked + .slider:before {
  transform: translateX(10rem);
  background-color: #8056c4;
  margin-right: -0.1rem;
}

input:checked + .slider .romantic {
  color: transparent;
}

input:checked + .slider .friendship {
  color: #8056c4;
}

#popup-relationships {
  display: flex;
  flex-direction: row;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8056c463;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 2rem;
  padding-top: 0;
  border-radius: 0.5rem;
  width: 30rem;
}

.close {
  text-align: right;
  margin-top: -2rem;
  left: 0;
  font-size: 30px;
  cursor: pointer;
}
