body {
  font-family: 'BasementGrotesque', sans-serif;
  margin: 0;
  overflow: hidden; /* Verhindert das Scrollen des gesamten Körpers */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff200;
  border-bottom: 0.1rem solid #000;
  z-index: 3;
}

.home-link {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  padding: 1rem;
  display: inline-block;
}

#home-page {
  text-align: center;
  padding: 10rem 1rem;
}

#home-page h1 {
  font-size: 3rem;
}

#home-page p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

#home-page button {
  padding: 1rem 2rem;
  font-size: 1rem;
  margin: 0.5rem;
  cursor: pointer;
}

.navbar {
  position: fixed;
  top: 5rem;
  right: 2rem;
  width: 200px;
  background-color: #e2e0e241;
  backdrop-filter: blur(20px);
  border: 0.1rem solid #000000;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem ; 
  z-index: 1;
}

.navbar a {
  width: 100%;
  color: #000000;
  text-align: center;
  font-size: small;
  padding: 1rem;
  text-decoration: none;
  margin: 2px 0;
  border: 1px solid #bbb;
  box-sizing: border-box;
  border-radius: 0.3rem;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
  background-color: rgba(255, 0, 55, 0.141);
  color: rgba(255, 0, 55, 0.754);
}

#toggle-relationship-type {
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

#canvas-container {
  background-color: #e2e0e241;
  backdrop-filter: blur(20px);
  overflow: auto; /* Ermöglicht Scrollen innerhalb des Containers */
  position: fixed; /* Fixiert den Container */
  top: 5rem; /* Abstand vom oberen Rand */
  left: 1rem; /* Abstand vom linken Rand */
  right: 1rem; /* Abstand vom rechten Rand */
  bottom: 1rem; /* Abstand vom unteren Rand */
  border: 0.1rem solid #000000;
  border-radius: 0.5rem;
  font-family: 'BasementGrotesque', sans-serif;
  z-index: 2; /* Z-Index setzen, um sicherzustellen, dass es über dem Hintergrund und unter der Navbar liegt */
}

#banner-container {
  height: 2rem;
  background-color: #fff200;
  border: 0.1rem solid #000000;
  z-index: 3;
  overflow: hidden;
}

#banner {
  display: flex;
  align-items: center;
  height: 100%;
  white-space: nowrap;
}

#filter-container {
  position: fixed;
  top: 25rem;
  right: 2rem;
  width: 200px;
  bottom: 2rem;
  background-color: #e2e0e241;
  backdrop-filter: blur(20px);
  border: 0.1rem solid #000000;
  border-radius: 0.5rem;
  padding: 1rem;
  z-index: 1;
}

#relationship-filter, #additional-tags-container {
  display: none;
}

#relationship-select {
  background-color: #FF69B4;
  width: 200px;
  font-size: small;
  font-family: 'BasementGrotesque';
  padding: 1rem;
  border: 0.1rem solid #000000;
  color: #000;
  cursor: pointer;
  border-radius: 0.3rem;
}
